<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwExceptions="false"
      internalLogLevel="Trace"
      internalLogFile="D:\nlog-app.log"
      autoReload="true">
  <variable name="logDirectory" value="${basedir}\NLog"/>
  <!--记录到mongodb需要引用package-->
  <!--<extensions>
    <add assembly="NLog.Mongo"/>
  </extensions>-->
  <targets async="true">
    <target name="Info" xsi:type="File" fileName="${logDirectory}/Info/${date:format=yyyyMMdd}.txt" layout="${threadid} ${processid} ${longdate} ${message}${newline}${all-event-properties}${newline}"/>
    <target name="Complement" xsi:type="File" fileName="${logDirectory}/Complement/${date:format=yyyyMMdd}.txt" layout="${threadid} ${processid} ${longdate} ${message} ${newline}${all-event-properties}${newline}"/>
    <target name="Debug" xsi:type="File" fileName="${logDirectory}/Debug/${date:format=yyyyMMdd}.txt" layout="${threadid} ${processid} ${longdate} ${message} ${newline}${all-event-properties}${newline}"/>
    <target name="Exception" xsi:type="File" fileName="${logDirectory}/Exception/${date:format=yyyyMMdd}.txt" layout="${longdate} ${message}${newline}${event-context:item=Detail}${newline}${exception:format=tostring}${newline}"/>
    <target name="Fatal" xsi:type="File" fileName="${logDirectory}/Fatal/${date:format=yyyyMMdd}.txt" layout="${longdate} ${message}${newline}${event-context:item=Detail}${newline}${exception:format=tostring}${newline}"/>

    <target xsi:type="Database" name="mysql" dbProvider="MySql.Data.MySqlClient" connectionString="Server=120.55.187.37;Database=i77permission;Uid=i77permission;Pwd=Voodoo123456;"
                commandText="insert into permission_logs(CreateDate,Message,Detail,StackTrace) values(@CreateDate,@Message,@Detail,@StackTrace)">
      <parameter name="CreateDate" layout="${longdate}" />
      <parameter name="Message" layout="${message}" />
      <parameter name="Detail" layout="${event-context:item=Detail}"/>
      <parameter name="StackTrace" layout="${exception:format=tostring}"/>
    </target>
    <target name="sql" xsi:type="Database" dbProvider="System.Data.SqlClient" connectionstring="data source=117.27.143.80;initial catalog=I77SyncTask_Ent;integrated security=false;User ID=sa;Password=Voodoo123456">
      <commandText>
        INSERT INTO SyncLog(Message,SyncInfo,ATime) VALUES(@message,@syncinfo,@atime)
      </commandText>>
      <parameter name="@message" layout="${message}" />
      <parameter name="@syncinfo" layout="${event-context:item=Detail}" />
      <parameter name="@atime" layout="${longdate}"/>
    </target>

    <target xsi:type="Mongo"
            name="mongo"
            includeDefaults="false"
            connectionString="mongodb://sa:sa@localhost:27017/testdb"
            collectionName="Log"
            cappedCollectionSize="26214400">

      <field name="Date" layout="${date}" bsonType="DateTime" />
      <field name="Level" layout="${level}"/>
      <field name="Message" layout="${message}" />
      <field name="Logger" layout="${logger}"/>
      <field name="Exception" layout="${exception:format=tostring}" />
      <field name="ThreadID" layout="${threadid}" bsonType="Int32" />
      <field name="ThreadName" layout="${threadname}" />
      <field name="ProcessID" layout="${processid}" bsonType="Int32" />
      <field name="ProcessName" layout="${processname:fullName=true}" />
      <field name="UserName" layout="${windows-identity}" />
    </target>
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="Info"/>
    <logger name="*" level="Trace" writeTo="Complement"/>
    <logger name="*" level="Debug" writeTo="Debug"/>
    <logger name="*" level="Error" writeTo="Exception"/>
    <logger name="*" level="Fatal" writeTo="Fatal"/>
  </rules>
</nlog>
